{% load static %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet"
		href="{% static 'css/aboutus.css' %}">
	
		<title>About Us</title>
</head>

<body>
	<header>
		<nav>
			<div class="logo">
			SMV ART GALLERY
			</div>
			<h2>ABOUT US</h2>
			<ul class="nav-links">
				<li><a href="test1">
					Home</a></li>
				<li><a href="abo">
				 About us</a>
				</li>
				<li><a href="clt">
				Collections</a>
				</li>
				<li><a href="cntc">
				Contact</a>
				</li>
                <li><a href="ofr">
                    Offers</a>
                </li>
				<li><a href="exb">
                    Exhibition</a>
                </li>
			</ul>
		</nav>
	</header>

	<section class="about">
		<h1>About Us</h1>
		<p style="font-weight: bold">
		SMV ART Gallery is a Leading Platform... 
		</p>
		<div class="about-info">
			<div class="about-img">
				<img src="{% static 'image/about/D10.jpg'%}">
			</div>
			<div>
			<p> SMV art gallery is an exhibition space to display and sell artworks. 
				As a result, the art gallery is a commercial enterprise working with a portfolio of artists.
			    The gallery acts as the dealer representing, supporting, and distributing the artworks by the artists in question.
				Art galleries promote art by showing works from many different artists at one time. 
				They also give information about each artist's story. You can find new pieces that you will enjoy all over again!

			</p>
				<!--<button>Read More...</button>-->
			</div>
		</div>
	</section>

	<section class="team">
		<h1>Meet Our Team</h1>
		<div class="team-cards">
		
			<!-- Cards here -->
			<!-- Card 1 -->
		
			<div class="card">
				<div class="card-img">
					<img src="{% static 'image/about/sanika2.jpg'%}" alt="User 1">
				</div>
				<div class="card-info">
					<h2 class="card-name">Sanika Pawar</h2>
					<p class="card-role">BCA 3rd Year</p>
					<p class="card-email">sanika17@gmail.com</p>
					<!--<p><button class="button">Contact</button></p>-->
				</div>
			</div>

			<!-- Card 2 -->
		
			<div class="card">
				<div class="card-img">
					<img src="{% static 'image/about/vaibhavi.jpg'%}" alt="User 2">
				</div>
				<div class="card-info">
					<h2 class="card-name">Vaibhavi Patil</h2>
					<p class="card-role">BCA 3rd Year</p>
					<p class="card-email">vaibhavi18@gmail.com</p>
					<!--<p><button class="button">Contact</button></p>-->
				</div>
			</div>
		
			<!-- Card 3 -->
		
			<div class="card">
				<div class="card-img">
					<img src="{% static 'image/about/manasi.jpg'%}" alt="User 3">
				</div>
				<div class="card-info">
					<h2 class="card-name">Manasi Pawar</h2>
					<p class="card-role">BCA 3rd Year</p>
					<p class="card-email">manasi16@gamil.com</p>
					<!--<p><button class="button">Contact</button></p>-->
				</div>
			</div>
		</div>
	</section>

	<footer>
		<p>© 2023 SMV Art Gallery. All Rights Reserved.</p>
	</footer>
</body>

</html>
