{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> collections  details</title>
  <link rel="stylesheet" a href="{% static 'css/art7.css' %}">
  
</head>
<body>
 <div class="container">
    <h1> Gallery collection </h1>
    <div class="image-container">
      <div class="image"><img src ="{% static 'image/sculpture art/sculp11.jpg' %}" alt=""></div>
     <div class="image"><img src ="{% static 'image/sculpture art/sculp10.jpg' %}" alt=""></div>
      <div class="image"><img src ="{% static 'image/sculpture art/sculp12.jpg'%}" alt=""></div>
      <div class="image"><img src ="{% static 'image/sculpture art/sculp4.jpg' %}" alt=""></div>
      <div class="image"><img src ="{% static 'image/sculpture art/sculp13.jpg' %}" alt=""></div>
      <div class="image"><img src ="{% static 'image/sculpture art/natraj3.jpg' %}" alt=""></div>
      <div class="image"><img src ="{% static 'image/sculpture art/sculp14.html'%}" alt=""></div>
      <div class="image"><img src ="{% static 'image/sculpture art/sculp2.jpg '%}" alt=""></div>
      <div class="image"><img src =" {% static 'image/sculpture art/sculp15.jpg'%}" alt=""></div>
    </div>
   
    <div class="popup-image">
    <span>&times;</span>
       <img src="{% static 'image/sculpture art/sculp11.jpg'%}" alt="">
   </div>
 </div>
 <script>
  document.querySelectorAll('.image-container img'). forEach(image =>{
    image.onclick =() =>{
       document.querySelector('.popup-image').style.display ='block';
       document.querySelector('.popup-image img').src = image.getAttribute('src')
    }
  });
 document .querySelector('.popup-image span').onclick=() =>{
  document.querySelector('.popup-image').style.display ='none';
}
 </script>
</body>
</html>